.subscription {
  background-image: url("/images/main/Subscribe.jpg");
  width: 1200px;
  height: 414px;
  background-repeat: no-repeat;
}

.catalog-hotels {
  background-image: url("/images/catalog/Фильтр.jpg");
  width: 1200px;
  height: 412px;
  background-repeat: no-repeat;
}
