@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.menu-list,
.icon-menu,
.advantages-list,
.recommendations-list,
.socials-list,
.breadcrumbs,
.catalog-filter-list,
.hotels-link,
.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: white;
  color: #333333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-header {
  margin: 0 auto;
  width: 1200px;
  display: flex;

}

.menu {
  margin: 0;
  width: 892px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.menu-list {
  display: flex;
}

.icon-menu {
  display: flex;
  width: 268px;
}


.menu-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #333333;
}

.icon-menu-item a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;

}

.container {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
}

.hero {
  background-image: url("../images/main/index-background.jpg");
  background-repeat: no-repeat;
}

.titles {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.titles-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  ;
}

.advantages-list-item {
  background-color: #82B3D3;
  width: 1200px;
}


.advantages-list-item-light {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-list-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.recommendations-list {
  display: flex;
}

.recommendations-list-item {
  width: 400px;
}

.to-book a {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

.subscription {
  background-image: url("../images/main/subscribe.jpg");
  background-repeat: no-repeat;
}

.subscription-inner {
  margin: 96px 258px 104px 298px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.catalog-hotels-background {
  background-image: url("../images/catalog/filter.jpg");
  background-repeat: no-repeat;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-hotels {
  width: 1060px;
  margin-top: 35px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;

}

.catalog-filter {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.buttons {
  display: flex;
  flex-direction: column;

}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.quantity {
  display: flex;
  align-items: center;
  width: 338px;
  margin-right: 192px;
}

.select-control {
  width: 292px;
}

.views {
  width: 160px;
  margin-left: 70px;
}

.result-select-views {
  display: flex;
  width: 1060px;
  margin: 50px auto;
}

.result-title,
.search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.hotels-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  margin: 40px auto;
}

.hotel-card {
  width: 340px;
}

.hotel-card a {
  text-decoration: none;
  color: #333333;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-button,
button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.pagination {
  width: 1060px;
  display: flex;
  justify-content: flex-start;
}


.footer-page {
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
}

.socials-list {
  width: 142px;
}

.phone-number {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  width: 720px;
  text-align: center;
}

.made-in {
  width: 115px;
}
