@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.menu-list,
.icon-menu,
.advantages-list,
.recommendations-list,
.socials-list,
.breadcrumbs,
.catalog-filter-list,
.hotels-link,
.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: white;
  color: #333333;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header-logo {
  margin-left: 70px;
}

.main-header {
  margin: 0 auto;
  width: 1200px;
  display: flex;

}

.menu {
  margin: 0;
  width: 892px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  width: 339px;
  flex-wrap: wrap;
}

.menu-list-item {
  margin: 20px auto;
}

.menu-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.icon-menu {
  display: flex;
  width: 268px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}




.icon-menu-item {
  min-width: 20px;
  min-height: 20px;
  margin: 22px auto;
  position: relative;
}

.search {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
}

.favourites {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/header/heart.svg");
  background-repeat: no-repeat;
}

.favourites-add {
  display: block;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  padding: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  color: #FFFFFF;
  position: absolute;
  bottom: 11px;
  left: 10px;
}

.icon-menu-item-button {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  width: 160px;
  text-align: center;
}

.button-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 34px;
  background-color: #756157;
  border-radius: 4px;

}

.container {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
}

.container p {
  margin: 0 auto;
}

.hero {
  background-image: url("../images/main/index-background.jpg");
  background-repeat: no-repeat;
}

.hero::after {
  content: "";
  display: block;
  background-image: url("../images/main/step.svg");
  width: 1200px;
  height: 57px;
  margin-top: 25px;
}

.welcome {
  padding-top: 51px;
  margin-left: 371px;
  display: block;
}

.titles {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.titles-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.advantages {
  margin-top: 69px;
}

.advantages-list p {
  margin-top: 30px;
  padding-left: 85px;
  padding-right: 85px;
}

/*сетка грид*/
.advantages-list {
  display: grid;
  text-align: center;
  width: 1200px;
  grid-template-columns: 400px 400px 400px;
  margin-top: 69px;
}

.advantages-list-item img {
  width: 800px;
  object-fit: contain;
  background-color: #82B3D3;
}

/*.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 90px;
}*/

.city-pons-padding {
  padding-top: 102px;
  color: #FFFFFF;
}

.advantages-recommendations-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}
.advantages-recommendations-title::after{
  display: block;
width: 60px;
height: 2px;
content: "";
border-bottom: 2px solid #FFFFFF4D;
margin-top: 30px;
margin-left: 170px;
}
.decor-line::after{
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  border-bottom: 2px solid #0000004D;
  margin-top: 30px;
  margin-left: 170px;
}
.advantages-list-item {
  background-color: #82B3D3;
  width: 1200px;
  display: flex;
  grid-column: 1/-1; //сетка грид
}


.advantages-list-item-light {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding-top: 112px;
  padding-bottom: 112px;

}

.advantages-list-item-grey {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding-top: 112px;
  padding-bottom: 112px;


}

.recommendations {
  margin-top: 64px;
}

.recommendations-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 64px;
}

.recommendations-list-item {
  width: 400px;
  padding-top: 81px;
}

.house::before {
  content: "";
  display: block;
  background-image: url("../images/main/house.svg");
  width: 75px;
  height: 72px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 164px;
}

.food::before {
  content: "";
  display: block;
  background-image: url("../images/main/food.svg");
  width: 74px;
  height: 70px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 164px;
}

.present::before {
  content: "";
  display: block;
  background-image: url("../images/main/present.svg");
  background-repeat: no-repeat;
  width: 64px;
  height: 76px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 164px;
}

.recommendations-list-item p {
  padding: 30px 85px 81px 85px;
}

.to-book {
  margin: 96px 304px;
}

.to-book a {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  display: block;
  width: 376px;
  margin: 54px auto;
  padding: 8px 50px;
  background-color: #756157;
  border-radius: 4px;
}

.subscription {
  background-image: url("../images/main/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: 100%;
  margin-top: 96px;
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscription h2 {
  color: #FFFFFF;
}

.subscription-inner {
  margin: 56px auto;
  text-align: center;
}

.subscription-inner form {
  margin: 54px auto;
  width: 684px;
  display: flex;
  justify-content: center;

}

.subscription form {
  margin-top: 54px;
  width: 684px;
  display: flex;
  justify-content: center;
}

.email-field {
  width: 452px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 14px;
  background-color: F2F2F2;
  border: none;
}

.subscription-button {
  width: 232px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
}

.container-inner {
  width: 1060px;
  margin: 0 auto;
}

.inner-header {

  margin-left: 70px;
  margin-top: 0;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.catalog-hotels-background {
  background-image: url("../images/catalog/filter.jpg");
  background-repeat: no-repeat;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 114px;
  justify-content: space-between;

 }


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-icon {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../images/catalog/home.svg");
}


.catalog-hotels {
  width: inherit;
  margin: 0;
  color: #FFFFFF;
}

.catalog-filter {
  width: inherit;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
  flex-wrap: wrap;
  padding-bottom: 70px;

}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  background: inherit;
  border: none;
  cursor: pointer;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 8px 50px;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.quantity {
  display: flex;
  width: 338px;
  align-items: center;
  margin-right: 192px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.views {
  width: 160px;
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}

.views a {

  width: 48px;
  height: 48px;
}
.table-view{
  width: 48px;
  height: 48px;
  background-image: url("../images/catalog/view1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.card-view{
  width: 48px;
  height: 48px;
  background-image: url("../images/catalog/view2.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.list-view{
  width: 48px;
  height: 48px;
  background-image: url("../images/catalog/view3.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.result-select-views {
  display: flex;
  width: inherit;
  margin-top: 50px;
  align-items: center;
}

.result-title,
.search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

/*сетка грид*/
.hotels-link {
  display: grid;
  width: 1060px;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
}

/*
.hotels-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: inherit;
  margin: 40px auto;
}*/

.hotel-card {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}


.card-content {
  width: 300px;
  margin: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: #000;
}

.hotel-card-image {
  width: 300px;
  object-fit: contain;
  background-color: #FFFFFF;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding-top: 16px;
  /* padding-left: 20px;      сетка грид*/
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
  border-radius: 4px;
  width: 140px;
  padding: 8px 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  box-sizing: border-box;
}

.button-favorite {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.hotel-card span {
  display: block;
}

.type-price,
.hotel-button,
.stars {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 16px;
}


.pagination {
  width: inherit;
  display: flex;
  justify-content: flex-start;
}

.pagination-item:not(:first-child) {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  margin-right: 8px;
}

.pagination-link {
  text-decoration: none;
  display: block;
  padding: 11px 23px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
}

.pagination-link span {
  color: #000;
}

.pagination-current {
  background-color: #FFFFFF;
  color: #000;
}

.footer-page {
  width: 1060px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.socials-list {
  width: 142px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socials-list-item {
  min-width: 24px;
  min-height: 17px;
  margin: 12px auto;
}

.vk-icon {
  display: block;
  width: 24px;
  height: 14px;
  background-image: url("../images/footer/vk.svg");
}

.telegram-icon {
  display: block;
  width: 18px;
  height: 16px;
  background-image: url("../images/footer/telegram.svg");
}

.youtube-icon {
  display: block;
  width: 22px;
  height: 17px;
  background-image: url("../images/footer/youtube.svg");
}

.phone-number {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  width: 720px;
  text-align: center;
}

.made-in {
  width: 115px;
}
