@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: white;
  color: black;
}

.menu-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  }

.icon-menu-item a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.hero{
  background-image: url("/images/main/index-background.jpg");
  background-repeat: no-repeat;
}
.subscription {
  background-image: url("/images/main/subscribe.jpg");
  width: 1200px;
  height: 414px;
  background-repeat: no-repeat;
}

.catalog-hotels {
  background-image: url("/images/catalog/filter.jpg");
  width: 1200px;
  height: 412px;
  background-repeat: no-repeat;
}
